.cover-to-do {
	width: 300px;
	height: 800px;
	background: lightgrey;
	float: left;
	margin: 0 20px;
	-webkit-box-shadow: 9px 7px 43px -9px rgba(11,0,36,1);
	-moz-box-shadow: 9px 7px 43px -9px rgba(11,0,36,1);
	box-shadow: 9px 7px 43px -9px rgba(11,0,36,1);
	border: 1px solid #0b0024;
	border-radius: 10px;
}
