@import url('https://fonts.googleapis.com/css?family=Nunito&amp;subset=latin-ext');

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  font-size: 10px;
  color: #1c0d45;
  line-height: 1;
  font-family: 'Nunito', cursive;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

h2 {
  font-size: 1.8em;
  color: #3700c4;
  margin-bottom: 12px;
}
h3 {
  font-size: 1.5em;
  line-height: 1.1;
  margin-bottom: 8px;
}
h4 {
  font-size: 1.3em;
  opacity: .8;
}
button {
  float: right;
  height: 30px;
  min-width: 30px;
  margin-left: 10px;
  padding: 0;
  background: #fff;
  border: 2px solid #3700c4;
  border-radius: 19px;
  font-family: 'Nunito', cursive;
  font-size: 1.6em;
  color: #3700c4;
  line-height: 22px;
  transition: .5s;
  outline: none;
  cursor: pointer;
}
button:hover {
  background: #3700c4;
  color: #fff;
  transition: .5s;
}
button.remove-task {
  max-width: 25px;
  max-height: 25px;
  min-width: 25px;
  margin-top: 3px;
  border: 2px solid red;
  color: red;
}
button.move-task:hover .fa-arrow-right {
  margin-left: 5px;
}
button.move-task:hover .fa-arrow-right {
  margin-left: 5px;
}
button.remove-task:hover {
  background: red;
  color: #fff;
}
select {
  font-family: fontAwesome;
}
select option {
  font-family: fontAwesome;
}

.column-cover {
  float: left;
  width: 300px;
  min-height: 90vh;
  margin: 0 10px;
  padding: 12px;
  background: #fff;
  -webkit-box-shadow: 2px 5px 26px -9px rgba(0,0,56,1);
  -moz-box-shadow: 2px 5px 26px -9px rgba(0,0,56,1);
  box-shadow: 2px 5px 26px -9px rgba(0,0,56,1);
  border: 3px solid #f1ebff;
  border-radius: 10px;
}
.column-title {
  text-align: center;
  color: #89819d;
}
.add-task-form {
  margin-bottom: 10px;
  padding: 10px;
  background: grey;
  border-bottom: 2px solid #f1ebff;
}
.add-task-form input {

}
.add-task-form textarea {

}
.add-task-form select {
}
.add-task-form::after {
  clear: both;
  content: "";
  display: block;
}
.taskLi {
  margin-bottom: 10px;
  padding: 10px;
  background: #fff;
  border-bottom: 1px solid #f1ebff;
}
.taskLi:hover .task-buttons-cover {
  opacity: 1;
  transition: .2s;
  background: red;
}
.taskLi::after {
  clear: both;
  content: "";
  display: block;
}
.taskLi .task-title {

}
.taskLi .task-description {
  max-height: 40px;
  overflow: auto;
}
.taskLi .task-status {
  float: left;
  line-height: 30px;
}

.task-status .fa {
  font-size: 2.2em;
}
.task-status .fa-thermometer-empty {
  color: #0348FF;
}
.task-status .fa-thermometer-half {
  color: #b4b400;
}
.task-status .fa-thermometer-three-quarters {
  color: #dc7300;
}
.task-status .fa-thermometer-full {
  color: red;
}
.fa-times {
  margin-left: 1px;
}
.task-buttons-cover {
  opacity: .2;
  transition: .2s;
}

.button.move-task:hover .fa-arrow-right  {
  -webkit-animation: move-arrow 1s infinite; /* Safari 4+ */
  -moz-animation:    move-arrow 1s infinite; /* Fx 5+ */
  -o-animation:      move-arrow 1s infinite; /* Opera 12+ */
  animation:         move-arrow 1s infinite; /* IE 10+, Fx 29+ */
}

@keyframes move-arrow {
  0% {
    font-size: 10px;
  }
  30% {
    font-size: 15px;
  }
  100% {
    font-size: 12px;
  }
}